html{
    /* margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%; */
    scroll-behavior: smooth;
}
.section{
    padding-top: 7rem;
    padding-bottom: 7rem;
}
.section_title{
    font-size: 60px;
    color:#162447;
}
.section_title span{
    color: #0A0B5B;
}

/* ์==== Navbar ====*/
.nav-link{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}
.navbarcolor{
    background-color: #0c047a;
}

/*==== Header Home ====*/
header{
    background-image: url("../img/gif/BG02.gif");
    background-size: cover;
    padding-top: 2rem;
    padding-bottom: 2rem;
    height: 450px;
    width: 100%;
}
.home_greeting{
    font-size: 56px;
}
.home_title, .assign_home{
    font-size: 100px;
}
.home_sub{
    font-size: 32px;
}
.hrwhite{
    border: 4px solid #c70039;
}
#Welcome{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #f4f9f9;
}
#To{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #f4f9f9;
}
#NamePort{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #f4f9f9;
}
#Verb{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #f4f9f9;
}

/*==== About ====*/
.about_img{
    border-radius: 25px;
    box-shadow: 0px 5px 10px #1b262c;
}
.about_icon{
    width: 32px;
    height: 32px;
    color: #0A0B5B;
}
/* ==== Personal ===*/

.personal_title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    font-size: 40px;
}
.leadper{
    font-family:monospace;
    text-align: left;
    font-size: 30px;
}
/* ==== Interest ===*/
.Interest_title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: right;
    font-size: 40px;
}
.leadint{
    font-family:monospace;
    text-align: right;
    font-size: 30px;
}

/* ==== Skill ==== */
.skill_section{
    padding-top: 7rem;
    padding-bottom: 7rem;
}
.skill_box{
    padding: 36px 0;
}
.skill_icon{
    font-size: 46px;
    color: gray;
}
.skill_icon_web{
    font-size: 28px;
}
.skillpic{
    width: 50%;
}

/* ==== Interesting= ==== */

/* ==== Assignment/Project ==== */
.assign_box{
    background-color: #525252;
    color: black;
}
.chevron_icon svg{
    width: 48px;
    height: 48px;
}
.bookmark_icon{
    font-size: 32px;
}

.assign_section hr{
    background-color: black;
}

.project_box{
    background-color: #525252;
    color: black;
}

/* ==== Footer ==== */
footer{
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.footer_icon svg{
    width: 32px;
    height: 32px;
    margin: 0 12px;
    color: #41464b;
}
.footer_icon svg:hover{
    color: #0080ff;
}
.card{
    background-color: grey;
}
.picmap{
    width: 90%;
    margin: auto;
    border-radius: 20px;
}

/* === H font === */
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Reference{
    font-size: 20pt;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #1206b9;
}
/*h3{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}*/

/* ==== Media Query ==== */
@media screen and (max-width: 1024px){
    .home_line{
        border-left: 4px solid #fdb827;
        padding-left: 1rem;
        margin-left: 1rem;
    }
    .home_greeting{
        font-size: 35px;
    }
    .home_title{
        font-size: 72px;
    }
    .assign_home{
        font-size: 56px;
    }
    .home_sub{
        font-size: 24px;
    }
    .social-icon svg{
        width: 32px;
        height: 32px;
    }

    .about_img{
        width: 100%;
    }
    .personal_title{
        font-size: 20px;
    }
    .leadper{
        font-size: 16px;
    }
    /* ==== Interest ===*/
    .Interest_title{
        font-size: 20px;
    }
    .leadint{
        font-size: 16px;
    }
}

@media screen and (max-width: 768px){
    .home_line{
        border-left: 4px solid #fdb827;
        padding-left: 1rem;
        margin-left: 1rem;
    }
    .home_greeting{
        font-size: 32px;
    }
    .home_title{
        font-size: 70px;
    }
    .assign_home{
        font-size: 52px;
    }
    .home_sub{
        font-size: 22px;
    }
    .social-icon svg{
        width: 32px;
        height: 32px;
    }

    .about_img{
        width: 100%;
    }
    .personal_title{
        font-size: 20px;
    }
    .leadper{
        font-size: 16px;
    }
    /* ==== Interest ===*/
    .Interest_title{
        font-size: 20px;
    }
    .leadint{
        font-size: 16px;
    }
}

@media screen and (max-width: 375px){
    .home_title{
        font-size: 50px;
    }
    .assign_home{
        font-size: 40px;
    }
}

@media screen and (max-width: 320px){
    .home_title{
        font-size: 50px;
    }
    .assign_home{
        font-size: 40px;
    }
}