#topic1{
    border: 2px solid rgb(134, 0, 0);
    background-color: rgb(221, 218, 247);
    height: 100px;
    font-size: 40px;
}
#comment1{
    border: 2px solid rgb(134, 0, 0);
    background-color: rgb(221, 218, 247);
    height: 100px;
    font-size: 20px;
}
#comment2{
    border: 2px solid rgb(134, 0, 0);
    background-color: rgb(221, 218, 247);
    height: 100px;
    font-size: 20px;
}
body{
    background-color: rgb(146, 70, 233);

}
#text1{
    width: 600px;
    height: 100px;
}
#Button{
    font-size: 30px;
    width: fit-content;
    height: auto;
}
#Topichead{
    border: 2px solid rgb(202, 89, 24);
    background-color: white;
    color: brown;
    font-size: 50px;
}
#Comment{
    border: 2px solid rgb(202, 89, 24);
    background-color: white;
    color: brown;
    font-size: 50px;
}