@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lobster&family=Mukta:wght@200&family=Noto+Sans+KR&family=Oswald:wght@200&display=swap');
.grid-container{
    display: grid;
    grid-template-columns: 10% auto 20%;

    /* can add grid row as same as add colume
        grid-template-rows: ...% ...% ...%;
    */
    
    grid-gap:10px;
}
.grid-container>div{
    border: 1px solid black;
    font-size: 30px;
    text-align: center;
    background-color: rgb(248, 217, 170);

}
body{
    background-color:darksalmon;
}
#header{
    grid-column: 1/ span 3;
    height: fit-content;
}
#menu{
    grid-column: 1/ span 1;
}
#main{
    grid-column: 2/ span 1;
}
#right{
    grid-column: 3/ span 1;
}
#footer{
    grid-column: 1/ span 3;
    height: fit-content;
}
.ADpicclass{
    margin-top: 10%;
    width: 70%;
    height: auto;
    border-radius: 30px;
}
h1{
    background-color:blanchedalmond;
    color: darkorange;
    font-family: 'Lobster', 'Times New Roman', Times, serif;
    font-size: 50pt;
}
h3{
    padding: 20px;
    font-family: 'Mukta';
    font-size: 20pt;
    color: indianred;
    margin: 1px;
    background-color: rgb(250, 234, 145);

}
.howtocook{
    font-family: 'Mukta';
    font-size: 15pt;
}
#StepPic{
    width: 90%;
    margin: auto;
    border-radius: 30px;
}
.serve{
    text-align: left;
    font-family: 'Mukta';
    font-size: 15pt;
    margin-left: auto;
    margin-right: auto;
}
.serve{
    flex-basis: 75%;
    width: 50%;
    border: rgba(34, 99, 241, 0.5) solid 3px;
    padding: 15px 20px 20px 35px;
    border-radius: 30px;

}
.satay-container{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    float: right;
}
.satay-container >img{
    width: 150px;
    border-radius: 30px; 
    transition: .1s;
}
.satay-container img:hover{
    transform: scale(1.5);
}
#IngredientPic{
    height: 500px;
    float: left;
    border-radius: 30px;
}
.ingredients{
    margin-left: 10%;
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    text-align: left;
    font-size: 20pt;
    /*height: 500px;*/ 
}
.cooking > div{
    text-align: left;
    padding: 50px;
    border: 2px solid rgb(38, 24, 233);
    width: 36%;
    margin-left: 10px;
    margin-bottom: 10px;
}
.cooking{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    /*height: 500px;*/ 
}
hr
{
    background-color: rgb(199, 56, 0);
    height: 10px;

}
@media only screen and (max-width: 1024px)
{
    .grid-container{
        display: grid;
        grid-template-columns: auto 20%;
        grid-gap:10px;
    }
    #header{
        grid-column: 1/ span 2;
    }
    #menu{
        grid-column: 1/ span 2;
        text-align: left;
    }
    #main{
        grid-column: 1/ span 1;
    }
    #right{
        grid-column: 2/ span 1;
    }
    #footer{
        grid-column: 1/ span 2;
    }
    h1{
        font-size: 30pt;
    }
    h2{
        font-size: 24pt;
    
    }
    .ADpicclass{
        width: 80%;
        height: auto;
    }
    .flex_container_1 > div{
        width: 70%;
    }
}
@media only screen and (max-width: 768px)
{
    .grid-container{
        display: grid;
        grid-template-columns: auto;
        grid-gap:10px;
    }
    #header{
        grid-column: 1/ span 1;
    }
    #menu{
        grid-column: 1/ span 1;
    }
    #main{
        grid-column: 1/ span 1;
    }
    #right{
        grid-column: 1/ span 1;
    }
    #footer{
        grid-column: 1/ span 1;
    }
    h1{
        font-size: 24pt;
    }
    h2{
        font-size: 20pt;
    
    }
    .flex_container_1 > div{
        width: 70%;
    }
    .Adpicclass{
        width: auto;
    }
}
